<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jobportal-HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{%static 'css/newfile.css' %}">
    <style type="text/css">
    body{
       background: url(https://images.unsplash.com/photo-1512665591-75fa7ba868d7?ixlib=rb%020.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9fff1ea450ba4c7242b1bd207630469f&auto=format&fit=crop&w=667&q=80);
      }
    </style>
  </head>
  <body>
    <div class="container" align='center'>
        <div class="jumbotron">
             <h1>WELCOME TO TECHNICALPLATFORM Jobportal</h1>
             <p>continuous Job Updates for every hour...</p>
             <a href="/hydjobs" class='btn btn-primary btn-lg'>HYD JOBS</a>
             <a href="/blorejobs" class='btn btn-primary btn-lg'>BANGALORE JOBS</a>
             <a href="/punejobs" class='btn btn-primary btn-lg'>PUNE JOBS</a>
             <a href="/chennaijobs" class='btn btn-primary btn-lg'>CHENNAI JOBS</a>
       </div>
</div>
  </body>
</html>
